<a href="https://colab.research.google.com/github/vibhajoshi/ExerciseDSA/blob/main/ExerciseDSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,
1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [ ]:

expense=[
    {0: 2200},
    {1: 2350},
    {2:2600},
    {3:2130},
    {4:2190},
]
print(str(int(expense[1][1]- expense[0][0])) + "$ extra I spent compared to Jan")    #
print(str(int(expense[0][0]+expense[1][1]+expense[2][2]))+" $ is my total expense in first quarter of the year")
for i in range(0,5):
  if(expense[i][i]==2000):
    print(str(int(expense[i][i])) + " is in the month of",i+1)
    break
else:
  print("No you've not spent 2000$ exactly in any month")

expense.append({5:1980})
print("Expense at the end of June is",expense)
expense[3][3]=2130-200
print("Expense after 200$ refund in April",expense)

150$ extra I spent compared to Jan
7150 $ is my total expense in first quarter of the year
No you've not spent 2000$ exactly in any month
Expense at the end of June is [{0: 2200}, {1: 2350}, {2: 2600}, {3: 2130}, {4: 2190}, {5: 1980}]
Expense after 200$ refund in April [{0: 2200}, {1: 2350}, {2: 2600}, {3: 1930}, {4: 2190}, {5: 1980}]

In [ ]:
# 1. Let us say your expense for every month are listed below,
# 	1. January -  2200
#  	2. February - 2350
#     3. March - 2600
#     4. April - 2130
#     5. May - 2190
#
# Create a list to store these monthly expenses and using that find out,
#
# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

exp = [2200,2350,2600,2130,2190]

# 1. In Feb, how many dollars you spent extra compare to January?
print("In feb this much extra was spent compared to jan:",exp[1]-exp[0]) # 150

# 2. Find out your total expense in first quarter (first three months) of the year
print("Expense for first quarter:",exp[0]+exp[1]+exp[2]) # 7150

# 3. Find out if you spent exactly 2000 dollars in any month
print("Did I spent 2000$ in any month? ", 2000 in exp) # False

# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
exp.append(1980)
print("Expenses at the end of June:",exp) # [2200, 2350, 2600, 2130, 2190, 1980]

# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this
exp[3] = exp[3] - 200
print("Expenses after 200$ return in April:",exp) # [2200, 2350, 2600, 1930, 2190, 1980]

In feb this much extra was spent compared to jan: 150
Expense for first quarter: 7150
Did I spent 2000$ in any month?  False
Expenses at the end of June: [2200, 2350, 2600, 2130, 2190, 1980]
Expenses after 200$ return in April: [2200, 2350, 2600, 1930, 2190, 1980]

Q2. You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [5]:
heros=['spider man','thor','hulk','iron man','captain america']
print("Length of the list is", len(heros))
heros.append('black panther')
print('Added black panther at the end of the list',heros)
heros.remove('black panther')
print("Removed black panther from the list",heros)
heros[3]=('black panther')
print("Added black panther after hulk",heros)
heros[1:3]=['doctor strange']
print("Removed thor and hulk bcz they get angry easily and replaced them with doctor strange ",heros)
heros.sort()
print("Sorted list",heros)

Length of the list is 5
Added black panther at the end of the list ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
Removed black panther from the list ['spider man', 'thor', 'hulk', 'iron man', 'captain america']
Added black panther after hulk ['spider man', 'thor', 'hulk', 'black panther', 'captain america']
Removed thor and hulk bcz they get angry easily and replaced them with doctor strange  ['spider man', 'doctor strange', 'black panther', 'captain america']
Sorted list ['black panther', 'captain america', 'doctor strange', 'spider man']

In [6]:
# 2. You have a list of your favourite marvel super heros
# heros=['spider man','thor','hulk','iron man','captain america']
# Using this list

heros=['spider man','thor','hulk','iron man','captain america']
# 1. Length of the list
print(len(heros))
# 2. Add 'black panther' at the end of this list
heros.append('black panther')
print(heros)
# 3. You realize that you need to add 'black panther' after 'hulk',
# so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros)
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
heros[1:3]=['doctor strange']
print(heros)
# 5. Sort the list in alphabetical order
heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

Q3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [13]:
n = int(input("Enter a max number to get the odd number list "))
print("Odd numbers from 1 to",n)
for i in range(0,n+1):
  if i%2==1:
    print(i)

Enter a max number to get the odd number list 7
Odd numbers from 1 to 7
1
3
5
7

In [14]:
max = int(input("Enter max number: "))

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number: 7
Odd numbers:  [1, 3, 5]